@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #f5f1ed;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}